@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Vazirmatn:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
  html
  {
    direction: rtl;
  }

  #root
  {
    font-family: 'Vazirmatn', 'Poppins';
  }
}

@layer components
{
  .vertical-flex
  {
    @apply flex items-center
  }

  .admin-header-li
  {
    @apply py-3 px-6 border-solid border-2 border-indigo-600 rounded-lg hover:bg-indigo-400 hover:scale-110 hover:border-none hover:text-white duration-500 cursor-pointer
  }

  .admin-header-back-btn
  {
    @apply text-xl bg-indigo-100 text-fadedBlack py-2 px-4 rounded-full vertical-flex gap-2 hover:bg-indigo-400 hover:text-white duration-500
  }

  .costumer-header-btn
  {
    @apply vertical-flex gap-1 text-gray-700 text-lg cursor-pointer hover:border-solid hover:border-b-2 hover:border-indigo-400
  }

  .admin-panel-username
  {
    @apply py-2 px-5 outline-none bg-transparent border-solid border border-violet-400 rounded-md focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500 text-left placeholder:text-start
  }

  .admin-panel-password
  {
    @apply py-2 px-5 outline-none bg-transparent border-solid border border-violet-400 rounded-md focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500
  }

  .admin-panel-title
  {
    @apply text-center text-3xl font-bold bg-white py-2 px-4 rounded-xl border-solid border-2 border-purple-500 absolute -top-[10%] right-[6%]
  }

  .admin-panel-loginForm
  {
    @apply border-solid border-2 border-purple-500 rounded-xl shadow-2xl flex flex-col gap-10 p-12 w-1/3 h-[440px] bg-white fixed
  }
}