/* NORMAL WEIGHT */
@font-face
{
  font-family: "Vazir";
  src: local("Vazir"),
    url("../public/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}

/* BOLD WEIGHT */
@font-face
{
  font-family: "Vazir";
  src: local("Vazir"),
    url("../public/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* LIGHT WEIGHT */
@font-face
{
  font-family: "Vazir";
  src: local("Vazir"),
    url("../public/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: lighter;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
  html
  {
    direction: rtl;
  }

  #root
  {
    font-family: 'Vazir', 'Poppins';
  }

}

@layer components
{

  /* GENERAL */
  .vertical-flex
  {
    @apply flex items-center
  }

  /* HEADER */
  .admin-header-li
  {
    @apply py-3 px-6 border-solid border-2 border-indigo-600 rounded-lg hover:bg-indigo-400 hover:scale-110 hover:border-none hover:text-white duration-500 cursor-pointer
  }

  .admin-header-back-btn
  {
    @apply text-xl bg-indigo-100 text-fadedBlack py-2 px-4 rounded-full vertical-flex gap-2 hover:bg-indigo-400 hover:text-white duration-500
  }

  .costumer-header-btn
  {
    @apply vertical-flex gap-1 text-gray-700 text-lg cursor-pointer hover:border-solid hover:border-b-2 hover:border-indigo-400
  }

  /* ADMIN PANEL */
  .admin-panel-username
  {
    @apply py-2 px-5 outline-none bg-transparent border-solid border border-violet-400 rounded-md focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500 text-left placeholder:text-start
  }

  .admin-panel-password
  {
    @apply py-2 px-5 outline-none bg-transparent border-solid border border-violet-400 rounded-md focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500
  }

  .admin-panel-title
  {
    @apply text-center text-3xl font-bold bg-white py-2 px-4 rounded-xl border-solid border-2 border-purple-500 absolute -top-[10%] right-[6%]
  }

  .admin-panel-loginForm
  {
    @apply border-solid border-2 border-purple-500 rounded-xl shadow-2xl flex flex-col gap-10 p-12 w-1/3 h-[440px] bg-white fixed
  }

  /* USER INFO FORM */

  .user-info-input
  {
    @apply outline-none border-solid border-2 border-purple-500 rounded-xl p-2 focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500
  }

  /* PRODUCTS GROUP */

  .product-card
  {
    @apply flex flex-col gap-2 items-center max-w-xs py-[2vw] px-[1vw] cursor-pointer hover:shadow-2xl duration-300
  }

  /* ORDERS MANAGEMENT */
  .orders-category-checkbox
  {
    @apply appearance-none w-5 h-5 cursor-pointer outline-none border-2 border-solid border-indigo-500 rounded-full checked:bg-purple-200
  }

  /* ADD PRODUCT MODAL */
  .add-product-modal-input
  {
    @apply outline-none border-solid border-2 border-purple-500 rounded-xl p-1 focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500
  }

  .add-product-modal-select
  {
    @apply bg-transparent border-solid border-2 border-purple-500 rounded-md p-1
  }

  .add-product-modal-file-field
  {
    @apply bg-purple-200 rounded-md px-10 py-4 flex flex-col items-center gap-4 cursor-pointer hover:bg-purple-300 ease-in-out duration-300
  }

  .add-product-modal-textEditor
  {
    @apply outline-none border-solid border-2 border-purple-500 rounded-xl p-1 focus:border-none focus:bg-purple-200 focus:placeholder:text-gray-500 h-[150px] overflow-y-scroll overflow-x-hidden
  }

  .navbar
  {
    -webkit-box-shadow: 0px -21px 37px -10px rgba(99, 102, 241, 0.29);
    -moz-box-shadow: 0px -21px 37px -10px rgba(99, 102, 241, 0.29);
    box-shadow: 0px -21px 37px -10px rgba(99, 102, 241, 0.29);
    @apply py-5 bg-transparent mt-6
  }

}


/* TEXT EDITOR STYLES OVERRIDE */
h1.ce-header
{
  @apply text-3xl font-bold
}

h2.ce-header
{
  @apply text-2xl font-semibold
}

h3.ce-header
{
  @apply text-xl font-semibold
}

h4.ce-header
{
  @apply text-lg font-semibold
}

h5.ce-header
{
  @apply text-base font-semibold
}

h6.ce-header
{
  @apply text-base font-semibold
}

.codex-editor .codex-editor__redactor
{
  padding-bottom: 0 !important;
}

.ce-inline-toolbar.ce-inline-toolbar--showed
{
  left: 570px !important;
  top: 3px !important;
  scale: 0.9 !important;
}